.navbar {
    height: 65px;
    border-bottom: 1px solid #dfdede;
    z-index: 1;
}

.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: MS Reference Sans Serif;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
    color: #11245A;
}

#home {
    background-image: linear-gradient(rgba(28, 41, 88, 0.846), rgba(28, 41, 88, 0.823)), url(images/hero_img.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.btn-contact {
    background-color: rgb(242, 89, 114);
    color: white;
    border-radius: 0;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-contact:hover {
    background-color: rgb(201, 63, 86);
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.home-main p {
    text-align: center;
    font-size: 15px;
    width: 50%;
    line-height: 25px;
}

.home-main h1 {
    text-transform: uppercase;
    font-size: 60px;
    width: 70%;
}

section#service {
    padding: 100px 0;
    padding-left: 30px;
}

.service-name {
    text-align: center;
}

.service-text {
    color: #11245A;
    font-size: 40px;
    text-transform: uppercase;
}

.border {
    margin: 15px auto;
    width: 120px;
    height: 2px;
    margin-bottom: 80px;
}

.service-icon {
    width: 60px;
    height: 60px;
    background-color: #E93B81;
    border-radius: 5px;
}

.fa-mountain {
    color: white;
    font-size: 32px;
    padding: 14px 15px;
}

.fa-coffee {
    color: white;
    font-size: 32px;
    padding: 13px 10px 10px 10px;
}

.fa-image {
    color: white;
    font-size: 32px;
    padding: 14px 15px;
}

.fa-shield-alt {
    color: white;
    font-size: 32px;
    padding: 14px 15px;
}

.fa-laptop {
    color: white;
    font-size: 32px;
    padding: 13px 10px 10px 10px;
}

.fa-smile-beam {
    color: white;
    font-size: 32px;
    padding: 14px 15px;
}


#service h3 {
    font-size: 16px;
    color: #11245A;
    text-transform: uppercase;
    padding-top: 25px;
}

#service p {
    width: 90%;
    color: #898FA1;
    font-size: 15px;
}

section#portfolio img {
    width: 100%;
    transition: 0.5s;
}

.portfolio-block {
    overflow: hidden;
    position: relative;
}

.portfolio-text {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 41, 88, 0.846);
    padding-top: 190px;
    padding-left: 30px;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-text h3,
h5 {
    text-transform: uppercase;
}

.portfolio-block:hover .portfolio-text {
    opacity: 1;
}

.portfolio-block:hover img {
    transform: scale(1.2);
}

#features {
    padding: 100px 0;
}

.features-text {
    display: flex;
    flex-direction: row;
}

.features-icon {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #E93B81;
}

.fa-check {
    color: white;
    font-size: 17px;
    padding: 9px 9px;
}

.features-text h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #11245A;
}

#features p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    color: #898FA1;
    font-size: 15px;
    line-height: 25px;
}

/* .team-img img {
    width: 100%;
    height: 100%;
}

.team-text {
    width: 100%;
    height: 240px;
    background-color: #101f4d;
}

.team-text-1 {
    width: 100%;
    height: 240px;
    background-color: #192d6b;
}

.team-border {
    margin: 15px auto;
    background-color: #FFFFFF71;
    width: 70px;
    height: 2px;
}

.team-1 {
    padding-top: 40px;
    text-align: center;
}

.team-1 h1 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.team-1 h2 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: MS Reference Sans Serif;
    font-weight: 500;
}

.team-1 p {
    margin-left: 30px;
    font-size: 15px;
    color: white;
    width: 80%;
    line-height: 25px;
} */

/* .team-img img {
    width: 100%;
    height: 100%;
} */

.team-img img{
    width: 100%;
    height: 100%;
    transition: 00.5s;
}

.team-img {
    position: relative;
    overflow: hidden;
}

.team-icons {
    width: 100%;
    height: 50px;
    background-color: #E93B81;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    transition: 0.5s;
}

.team-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.team-icons a i {
    color: white;
}

.team-card {
    background-color: blue;
    color: white;
    text-align: center;
}

.team-text {
    padding: 15px;
}

.team-line {
    width: 60px;
    height: 2px;
    background-color: rgb(210, 210, 210);
    margin: 10px auto;
}

.team-card:hover .team-icons {
    bottom: 0;
}

.team-card:hover img {
    transform: translateY(-50px);
}

.testimonials-name {
    padding: 100px 0;
    text-align: center;
}

.testimonials-img img {
    cursor: pointer;
    margin: 0 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.testimonials-img img:nth-child(1) {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.fa-star {
    color: #E93B81;
    font-size: 12px;
}

.testimonials-icon {
    margin-top: 10px;
    margin-left: 20px;
}

.testimonials-text p {
    line-height: 30px;
    margin: 25px auto;
    text-align: center;
    font-style: italic;
    color: #898FA1;
    font-size: 20px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials-text h1 {
    padding-top: 20px;
    text-transform: uppercase;
    color: #11245A;
    font-size: 16px;
}

.testimonials-text h2 {
    text-transform: uppercase;
    color: #898FA1;
    font-size: 13px;
    font-family: MS Reference Sans Serif;
}

#logo {
    background-color: #F8F9FA;
    padding: 100px 0;
}

.logo-1 {
    margin-left: 50px;
}

.logo-brend {
    margin: 15px 0;
}

#contact {
    padding: 100px 0;
}

.contact-img img {
    width: 100%;
    height: 460px;
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.input small {
    padding-bottom: 5px;
    color: #898FA1;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.input input {
    outline: none;
    border: 1px solid #cbced6;
    width: 100%;
    height: 38px;
    border-radius: 0;
}

.input textarea {
    outline: none;
    border-radius: 0;
    border: 1px solid #cbced6;
    width: 100%;
    height: 110px;
}

#contact button {
    color: white;
    background-color: #E93B81;
    font-size: 12px;
    padding: 12px 28px;
    border: none;
    text-transform: uppercase;
    transition: 0.3s;
}

#contact button:hover {
    background-color: #c5326d;
}

#build {
    background-color: #E93B81;
    padding: 100px 0;
}

.build-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.build-1 h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.build-1 button {
    background-color: white;
    font-size: 12px;
    border: none;
    padding: 12px 30px;
    font-weight: 600;
    text-transform: uppercase;

}

#footer {
    padding-top: 60px;
}

.footer-text {
    margin: 20px 0;
}

.footer-text h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #11245A;
}

.footer-text h1 {
    text-transform: uppercase;
    font-size: 22px;
    color: #11245A;
}

.footer-text p {
    color: #898FA1;
    font-size: 15px;
    line-height: 25px;
}

.footer-text h3 {
    font-weight: 400;
    color: #898FA1;
    font-size: 15px;
}

.fa-facebook-f {
    color: #898FA1;
    font-size: 20px;
    padding: 0 3px;
    transition: 0.5s;
    cursor: pointer;
}

.fa-facebook-f:hover {
    color: #E93B81;
}

.fa-twitter {
    color: #898FA1;
    font-size: 20px;
    padding: 0 3px;
    transition: 0.5s;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #E93B81;
}

.fa-instagram {
    color: #898FA1;
    font-size: 20px;
    padding: 10px 3px;
    transition: 0.5s;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #E93B81;
}

.fa-github {
    color: #898FA1;
    font-size: 20px;
    padding: 0 3px;
    transition: 0.5s;
    cursor: pointer;
}

.fa-github:hover {
    color: #E93B81;
}

#footer-1 {
    padding: 10px 0;
}



.footer-2 h1 {
    color: #898FA1;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
}

.footer-2 h2 {
    color: #898FA1;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
}